* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

Body {
  display: flex;
  flex-direction: row;
  gap: 2px;
  background-color: rgb(163, 92, 233);
  border: 2px solid red;
}

.timeLine {
  flex: 0.3;
}

.logo {
  background-color: lightblue;
  height: 50px;
}

.user_clock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clock {
  background-color: lightgreen;
  height: 30px;
}

.dashboard {
  flex: 1.7;
}
